graph {
	fill-color: rgb(225,225,225); /* A bit of gray!*/
}

node{
	text-size: 16px;
	size: 30px;
    fill-color: black;
	text-color: white;
	stroke-mode: plain;
	stroke-width: 2px;
	stroke-color: #F00A;
}

node:clicked {
fill-color: #00FC, #00F0;
}

node:selected {
fill-color: #F00F, #F00F;
}

edge {
size:2px;
fill-mode: dyn-plain;
fill-color: black, blue, red;
text-background-mode: plain;
text-background-color: rgb(225,225,225);
text-alignment: center;
text-size: 12px;
text-color: black;
}